numpy
pandas
# aiohttp # 非同期にページを取得できる。多数のWebサイトを高速にクロールしたいときに力を発揮。
requests # ページの情報を取得
# scrapelib # クロール先のサーバーに負荷をかけ過ぎないように、間隔を自動的に調整したりエラー時に自動でリトライ
beautifulsoup4 # スクレイピングライブラリ。lxmlを使えば高速に処理できる
# Selenium # Webブラウザを自動操作できるライブラリ
lxml # html.parserを使うよりもこっちの方が高速で動作する